Flask==3.0.0
matplotlib
mpmath==1.3.0
numpy
opencv-python
packaging==23.2
Pillow==10.1.0
psutil==5.9.6
py-cpuinfo==9.0.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
requests
torch
torchvision
tqdm==4.66.1
typing_extensions==4.8.0
ultralytics==8.0.200
urllib3==2.0.7
waitress==2.1.2
gunicorn==21.2.0
